<ion-content [fullscreen]="true">
  <div class="grid">
    <ion-img src="assets/icon/menu.png" id="ion-icon"></ion-img>

    <ion-img src="assets/icon/nikePng.png" id="ion-icon"></ion-img>

    <h1 class="circulo">
      <ion-img src="assets/icon/perfil.png" id="ion-icon" ></ion-img>
    </h1>
  </div>

  <div class="grid" style="column-gap: 8%;">
    <h2 id="h2">
      <ion-img src="assets/icon/tenis-frente.png" id="ion-img"></ion-img>
    </h2>

    <h1 id="h1">
      <ion-img src="assets/icon/tenis2-frente.png" id="ion-img"></ion-img>
    </h1>

    <h1 id="h1">
      <ion-img src="assets/icon/tenis3-frente.png" id="ion-img"></ion-img>
    </h1>

  </div>

    <div class="flex-container">
      <img alt="tenis selecionado" src="assets/icon/tenis.png" style="height: 210px; width: auto;"/>
    </div>
  
    <ion-card-header>
      <ion-card-title id="ion-title">KYRIE INFINITY</ion-card-title>
      <ion-card-subtitle id="ion-card-subtitle">Calçados para Basquete</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content id="ion-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suspendisse a massa vitae justo lacinia accumsan.
    </ion-card-content>

  <div class="flex-container">
    <ion-title id="ion-title">Preço <br>$ 759</ion-title>
    
    <h3 style="background: #144273;" id="icon">
      <ion-img id="img-icon" src="assets/icon/upload.png"></ion-img>
    </h3>

    <h3 id="icon" style="background: linear-gradient(180deg, #11998E 0%, #38EF7D 100%);">
      <ion-img  id="img-icon" src="assets/icon/bag.png"></ion-img>
    </h3>
  </div>  
  
</ion-content>
