<ion-content [fullscreen]="true">
  <ion-img
      src="assets/icon/R.png"
      alt=""
      style="width: 70px; height: auto; margin: 20px;"
    ></ion-img>

  <div id="container"> 
    
    
      <img alt="Tenis" src="assets/icon/tenis-frente.png" style="width: 370px; height: auto; rotate: -20deg; margin: 0;"/>
      <ion-card-header>
        <ion-card-title id="ion-title">COLEÇÃO DE  <br> VERÃO</ion-card-title >

        <ion-card-title id="ion-subtitle">2024</ion-card-title >
      </ion-card-header>
    
      <ion-card-content id="ion-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae porta ante. Suspendisse a massa vitae justo lacinia accumsan.
      </ion-card-content>
    
      <ion-button shape="round" id="ion-button" (click)="showProduto()">GET STATED -></ion-button>
  </div>
</ion-content>
